[tool.taskipy.tasks]
devserver = { cmd = "python manage.py runserver", help = "Liga o servidor local de desenvolvimento django." }
prodserver = { cmd = "python manage.py runserver", help = "Liga o servidor de produção django." }
makemigrations = { cmd = "echo 'Rodando makemigrations' && python manage.py makemigrations", help = "Cria arquivos de migração." }
migrate = { cmd = "echo 'Rodando migrations' && python manage.py migrate", help = "Aplica modificações previstas nas migrações no banco de dados." }
pre_migrate = "task makemigrations"
